# Libraries and Data

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
store=pd.read_excel('Superstore.xls')

In [5]:
store.head(5)

,Row ID,Order ID,OrderDate,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [6]:
#shape of file
store.shape

(9994, 18)

In [7]:
#informtion about store
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        9994 non-null   int64
 1   Order ID      9994 non-null   object
 2   OrderDate     9994 non-null   datetime64[ns]
 3   Ship Date     9994 non-null   datetime64[ns]
 4   Ship Mode     9994 non-null   object
 5   Customer ID   9994 non-null   object
 6   Segment       9994 non-null   object
 7   Country       9994 non-null   object
 8   City          9994 non-null   object
 9   State         9994 non-null   object
 10  Postal Code   9994 non-null   int64
 11  Region        9994 non-null   object
 12  Category      9994 non-null   object
 13  Sub-Category  9994 non-null   object
 14  Sales         9994 non-null   float64
 15  Quantity      9994 non-null   int64
 16  Discount      9994 non-null   float64
 17  Profit        9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(10)
memory usage: 1.4+ MB

# Data Cleaning

In [8]:
# null values
store.isnull().sum()

Row ID          0
Order ID        0
OrderDate       0
Ship Date       0
Ship Mode       0
Customer ID     0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [9]:
#checking duplicate values
store.duplicated().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0       False
1       False
2       False
3       False
4       False
        ...
9989    False
9990    False
9991    False
9992    False
9993    False
Length: 9994, dtype: bool>

In [10]:
#display duplicate values
store[store.duplicated(keep='last')]

Empty DataFrame
Columns: [Row ID, Order ID, OrderDate, Ship Date, Ship Mode, Customer ID, Segment, Country, City, State, Postal Code, Region, Category, Sub-Category, Sales, Quantity, Discount, Profit]
Index: []

# Analysis

In [11]:
#adding sales by category
category = pd.DataFrame(store.groupby(['Category'])[['Sales', 'Profit', 'Quantity']].sum())

In [12]:
category

                       Sales       Profit  Quantity
Category
Furniture        741999.7953   18451.2728      8028
Office Supplies  719047.0320  122490.8008     22906
Technology       836154.0330  145454.9481      6939

In [13]:
#adding subcategories sales
sub_category = pd.DataFrame(store.groupby(['Sub-Category'])[['Sales', 'Profit']].sum())
sub_category

                    Sales      Profit
Sub-Category
Accessories   167380.3180  41936.6357
Appliances    107532.1610  18138.0054
Art            27118.7920   6527.7870
Binders       203412.7330  30221.7633
Bookcases     114879.9963  -3472.5560
Chairs        328449.1030  26590.1663
Copiers       149528.0300  55617.8249
Envelopes      16476.4020   6964.1767
Fasteners       3024.2800    949.5182
Furnishings    91705.1640  13059.1436
Labels         12486.3120   5546.2540
Machines      189238.6310   3384.7569
Paper          78479.2060  34053.5693
Phones        330007.0540  44515.7306
Storage       223843.6080  21278.8264
Supplies       46673.5380  -1189.0995
Tables        206965.5320 -17725.4811

In [14]:
#sorting sales of sub_category
s=pd.DataFrame(sub_category.sort_values('Sales',ascending='True'))

In [15]:
s.indexe

AttributeError: 'DataFrame' object has no attribute 'indexe'

In [ ]:
p=pd.DataFrame(sub_category.sort_values('Profit',ascending=False))

In [ ]:
p

In [ ]:
#checking profit of segment
segment = pd.DataFrame(store.groupby(['Segment'])[['Profit']].sum())
segment

In [ ]:
#checking profit by region
region = pd.DataFrame(store.groupby(['Region'])['Profit'].sum().reset_index())
region

In [ ]:
#checking profit by cities
c = pd.DataFrame(store.groupby(['City'])['Profit'].sum().reset_index()).sort_values('Profit',ascending=False)
c

In [ ]:
print("Top ten profitable cities")
c.head(10)

In [ ]:
print("least profitable cities")
c.tail(10)

In [ ]:
pd.DataFrame(store.groupby(['City'])[['Category','Sub-Category']].sum().reset_index())